@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hidden {
    scrollbar-width: none; /* Firefox */
}

.scroll-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari 和 Opera */
}

/**
 * 不换行，溢出用省略号表示
 */
.ellipsis {
    display: block; /* 必须是块级元素 */
    white-space: nowrap;       /* 不换行 */
    overflow: hidden;          /* 溢出隐藏 */
    text-overflow: ellipsis;   /* 用省略号表示溢出部分 */
}
@layer base {
  :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 210, 100%, 46.5%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
/*================================ User DashBoard SideBar ================================*/
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 210, 100%, 46.5%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
        --sidebar-item: #10b981;
/*================================ User DashBoard ================================*/
        /*总览卡片颜色*/
        --overview-card: #06b6d4;
        /*贡献图*/
        --contribution-graph-0: #f0fdfa;
        --contribution-graph-1: #ccfbf1;
        --contribution-graph-2: #99f6e4;
        --contribution-graph-3: #5eead4;
        --contribution-graph-4: #2dd4bf;
        --contribution-graph-5: #14b8a6;
        --contribution-graph-6: #0d9488;
        --contribution-graph-7: #0f766e;
        --contribution-graph-8: #115e59;
        --contribution-graph-9: #134e4a;
        --contribution-graph-10: #042f2e;
  }
  .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 5.88% 10%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 210, 100%, 46.5%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
/*================================ User DashBoard SideBar ================================*/
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
        --sidebar-item: #ec4899;
/*================================ User DashBoard ================================*/
        /*总览卡片颜色*/
        --overview-card: #ec4899;
        /*贡献图*/
        --contribution-graph-0: #fdf4ff;
        --contribution-graph-1: #fae8ff;
        --contribution-graph-2: #f5d0fe;
        --contribution-graph-3: #f0abfc;
        --contribution-graph-4: #e879f9;
        --contribution-graph-5: #d946ef;
        --contribution-graph-6: #c026d3;
        --contribution-graph-7: #a21caf;
        --contribution-graph-8: #86198f;
        --contribution-graph-9: #701a75;
        --contribution-graph-10: #4a044e;
  }
}
@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}

@layer components {
      .prose {
            /* 添加您的自定义样式 */
            color: #f8ecec; /* 示例：更改文本颜色 */
            font-size: 1.125rem; /* 示例：更改字体大小 */
      }

      .prose h1 {
            color: #f8ecec; /* 示例：更改文本颜色 */
            @apply text-3xl font-bold; /* 使用 Tailwind 的 @apply */
      }

      .prose p {
            color: #f8ecec;
            @apply mb-4; /* 添加下边距 */
      }

      .prose strong {
            color: #f8ecec; /* 示例：更改加粗颜色 */
            @apply font-bold; /* 使用 Tailwind 的 @apply */
      }

      .prose a {
            color: #f8ecec; /* 示例：更改超链接颜色 */
            /*@apply font-bold; !* 使用 Tailwind 的 @apply *!*/
      }
}

