@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hidden {
    scrollbar-width: none; /* Firefox */
}

.scroll-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari 和 Opera */
}

/**
 * 不换行，溢出用省略号表示
 */
.ellipsis {
    white-space: nowrap;       /* 不换行 */
    overflow: hidden;          /* 溢出隐藏 */
    text-overflow: ellipsis;   /* 用省略号表示溢出部分 */
}
